{% extends 'base.html.twig' %}

{% block title %}
  Load a character from D&D Beyond
{% endblock %}

{% block body %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Open Campaign</h1>
      <p class="lead">Enter a <a href="https://www.dndbeyond.com/my-campaigns"
                                 rel="external">D&D Beyond</a> character ID here
        to load the campaign it belongs to and monitor the public characters.
      </p>
    </div>
  </div>

  {{ form(form) }}
{% endblock %}
