.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
###> symfony/framework-bundle ###

# Managed by Composer
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/
